.header {
    background-color: #74b9ff;
    padding: 1rem;
}
/* .header-container {
    background-color: red;
} */

.article {
    padding: 1rem;
}
.article a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
}
.article .card{
    padding: 0.5rem;
}
.article .card:hover{
    box-shadow: 0.1px 0.1px 2.5px 2.5px rgba(0,0,0,0.5);
}

.price {
    color: green;
    font-weight: bold;
}
.description p{
    font-weight: bold;
}
.footer {
    padding: 1rem;
    background-color: #74b9ff;
}